<%- include ('./partials/header.ejs'); -%>
<body>

    <div class="container">

        <div class="notFound"> <br><br><br><br>
            <h1>404</h1>
            <h4>A página que você está tentando acessar não existe.</h4> <br><br>
            <a href="/dolar-to-real" class = "btn btn-primary">Redirecionar</a>
        </div>

      
   
    </div>
 
</body>
<%- include ('./partials/footer.ejs'); -%>